.map {
  margin-top: 7rem;
  padding: 1rem 1.5rem 5rem 1.5rem;

  background-color: #f9f4f6;
}

.map h2 {
  margin-top: 1rem;
  color: #161320;
}

.mapContainer {
  padding: 1rem;
  background-color: #161320;
}

.leftCol {
  max-width: 293px;
}

/* ---------- Map Loading ---------- */
@media (width >= 640px) {
  .mapLoading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-width: 300px;
    min-height: 600;

    background-color: #161320;
  }

  .mapLoading p {
    color: #F9F4F6;
    font-weight: 600;
  }
}

@media (width >= 768px) {
  .mapLoading {
    min-width: 361px;
    min-height: 800;
  }
}

@media (width >= 1024px) {
  .mapLoading {
    width: 100%;
    min-width: 615px;
    min-height: 800;
  }
}
