.map {
  margin-top: 7rem;
  padding: 1rem 1.5rem 5rem 1.5rem;

  background-color: #F9F4F6;
}

.map h2 {
  margin-top: 1rem;
  color: #161320;
}

.mapContainer {
  padding: 1rem;
  background-color: #161320;
}
