.buttonOut {
  display: flex;
  padding: 0;

  border-radius: 0;
  border: 1px solid transparent;

  background-color: transparent;
  box-shadow: none;
}

.buttonOut:hover {
  background-color: transparent;
}

.icon {
  color: #161320;
}

.icon:hover {
  color: #D14836;
}