.location {
  margin-top: 7rem;
  padding: 0 1rem;
  background-color: #F9F4F6;
}

.location h2,
.location p {
  color: #161320;
}

.location h3 {
  font-size: 1.6rem;
  font-weight: 600;
}

.location hr {
  margin: 1rem 0;
  border: 1px solid #161320
}

.maxWidth {
  max-width: 1400px;
  margin: auto;
}

@media (width >= 640px) {
  .infoBody {
    width: 45%;
    max-width: 650px;
  }
  
  .infoMap {
    width: 45%;
  }
  .comments form {
    width: 45%;
  }

  .addCommentText {
    width: 45%;

    text-align: justify;
  }
}