
.addShelter {
  margin-top: 7.5rem;
  padding: 1rem 2rem;

  background-color: #F9F4F6;
}

.addShelter h2 {
  color: #161320;
}

/* .addShelter hr {
  margin: 1rem 0;
  border: 1px solid #161320;
} */