
.addShelter {
  margin-top: 7.5rem;
  padding: 1rem 2rem;

  background-color: #F9F4F6;
}

.addShelter h2 {
  color: #161320;
}

.addShelter hr {
  margin: 1rem 0;
  border: 1px solid #161320;
}

.error {
  margin-top: 1rem;
  text-align: right;

  color: #D14836;
  font-weight: 600;
}

@media (width >= 640px) {
  .mapLoading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-width: 300px;
    min-height: 600;

    background-color: #161320;
  }

  .mapLoading p {
    color: #F9F4F6;
    font-weight: 600;
  }
}

@media (width >= 768px) {
  .mapLoading {
    min-width: 361px;
    min-height: 800;
  }
}

@media (width >= 1024px) {
  .mapLoading {
    width: 100%;
    min-width: 615px;
    min-height: 800;
  }
}