@tailwind base;
@tailwind components;
@tailwind utilities;

/* ---------- GENERAL STYLES ----------
Colors:
  black -> #161320
  white -> #F9F4F6
  red -> #D14836

Fonts: 
  Headers: Berkshire Swash, 400
  Body: Rubik, [400, 600, 700]
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  max-width: 1800px;
  margin: 0 auto;

  background-color: #161320;
  font-family: "Rubik", sans-serif;
}

/* ---------- Disable vertical scroll ----------- */
.hide-scroll {
  overflow-y: hidden;
}

h1,
h2,
p,
li {
  color: #F9F4F6;
}

h1,
h2,
h3 {
  font-family: "Berkshire Swash", serif;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.4rem;
}

/* ---------- Button ----------- */
button {
  width: 40%;
  max-width: 200px;
  padding: 0.5rem;

  background-color: #161320;
  color: #f9f4f6;
}

button:hover {
  background-color: #3f3852;
}

/* ---------- Leaflet ----------- */
.leaflet-container {
  min-height: 600px;
  z-index: 1;
}

@media (width >= 768px) {
  .leaflet-container {
    min-height: 800px;
    height: 100%;
  }
}
@media (width >= 1280px) {
  .leaflet-container {
    min-height: 1200px;
  }
}

.clusterIcon {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 3.35rem;
  width: 3.35rem;

  border-radius: 50%;
  background-color: #F9F4F6;
  border: 3px solid #161320;
  transform: translate(-25%, -25%);

  font-weight: 700;
  font-size: 1.5rem;
}
