.adminContainer {
  width: 90%;
  margin: 7rem auto 1rem auto;
}

.tableButtons {
  margin-bottom: 1rem;
}

.tableButtons button {
  max-height: 40px;

  color: #161320;
  background-color: #F9F4F6;
  font-weight: 600;
}

.tableButtons button:hover {
  color: #F9F4F6;
  background-color: #161320;
  border: 1px solid #F9F4F6;
}