.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;

  max-width: 1400px;
  margin: auto auto 1.5rem auto;
  padding-top: 1rem;
}

.item02,
.item04 {
  justify-self: flex-end;
}

.item02 svg{
  width: 36px;
  height: 36px;
}