.main {
  background-color: #F9F4F6;
}

.main h2,
.main p {
  color: #161320;
}

/* ---------- Front Section ----------*/
.frontContainer {
  width: 100%;
  min-height: 700px;
  margin: 112px auto 0 auto;
  padding-bottom: 1.5rem;


  background-image: url('/images/honor01.webp');
  background-position: 25%;
  background-repeat: no-repeat;
  background-size: cover;
}

.cardContainer {
  width: 90%;
  max-width: 1300px;
  margin: 0 auto 6rem auto;
  padding: 1rem;

  background-color: rgba(249, 244, 246, 0.80);
  
  text-align: center;
}

.main h2 {
  margin-bottom: 0.5rem;
}

.main p {
  text-align: justify;
}

/* ---------- Code container ----------*/
.codeContainer {
  max-width: 1300px;
  margin: 0 auto;
}

.codeTitle {
  width: 90%;
  margin: 2rem auto 3rem auto;
}

.honorCardsContainer {
  margin-bottom: 5rem;
}

@media (width >= 768px) {
  .honorCardsContainer {
    width: 95%;
  }
}