.cardContainer {
  min-width: 320px;
}

.cardContainer h4 {
  font-size: 1.7rem;
}

.cardContainer p {
  color: #161320;
  text-align: justify;
}

@media (width >= 768px) {
  .cardContainer {
    min-width: 340px;
    padding: 0.7rem;

    background-color: #F9F4F6;
  }
}