.commentSwiper {
  max-width: 1400px;
  margin: auto;
  padding-bottom: 3rem;
}

.commentHeader {
  margin-bottom: 1rem;
}

.commentHeader img {
  width: 56px;
  height: 56px;

  border-radius: 50%;
}

.commentCard p {
  padding-bottom: 1rem;
  text-align: justify;
}

.commentCard {
  max-width: 580px;
}
