.profile {
  margin-top: 7rem;
  padding: 1rem 0 1.5rem 0;

  background-color: #F9F4F6;
}

.profileContainer {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}

.profile h2,
.profile p {
  color: #161320;
}

.profile h4 {
  font-size: 1.2rem;
}

.profile hr {
  margin: 1rem 0;
  border: 1px solid #161320;
}

/* ---------- Info Section ---------- */
.profileInfo {
  margin-top: 0.5rem;
}
.profileDescription p {
  text-align: justify;
}

.profileSocial span {
  font-weight: 600;
}

.profileBike {
  margin-top: 1rem;
}

@media (width >= 678px) {
  .profileInfo {
    width: 45%;
  }

  .rigthColumn {
    align-self: stretch;
    
    width: 60%;
  }
}

/* ---------- Info Section ---------- */
.profileAvatar>img {
  min-width: 163px;
  min-height: 152px;

  border: 5px solid #161320;
  border-radius: 50%;
}