.locationList {
  width: 35%;
  min-width: 300px;
  height: 100%;
  max-height: 800px;

  overflow-y: scroll;
}

@media (width >= 1280px) {
  .locationList {
    max-height: 1200px;
  }
}

.locationList p {
  color: #161320;
}

.locationCard {
  padding: 1rem 2rem;
  background-color: #f9f4f6;
}
